{% extends 'base1/inicio.html'%}
{% load staticfiles %}
{% block home %}
    <a href="{% url 'inicio:logeo' %}"  class=" w3-bar-item w3-button"><img width="15%" src="{% static 'images/home.png' %}"> Home</a>
    {% endblock %}
 {% block Facultad %}
            <a href="{% url 'Facultad:lista_Facultad' %}" id="uno"  class="w3-bar-item w3-button"> <img width="15%" src="{% static 'images/facultad5.png' %}"> Facultad</a>
			{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block extrastatic %}

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="static/css/animate.min.css">

<script>
        function paise() {
            document.getElementById("zona").innerHTML = "";
            var v=document.getElementById("pais").value;
            var option = document.createElement("option");
            option.text = "--SELECCIONE--";
            document.getElementById("zona").add(option);
            {% for z in  Zo %}
                var id_pais={{z.pais.id}}

                if(v==id_pais){

                    var op = document.createElement("option");
                    op.value = "{{z.pk}}";
                    op.text = "{{z.Nombre}}";
                    document.getElementById("zona").appendChild(op);
                }
            {% endfor %}

        }
		function zonas() {
            document.getElementById("universidad").innerHTML = "";
            var v=document.getElementById("zona").value;
            var option = document.createElement("option");
            option.text = "--SELECCIONE--";
            document.getElementById("universidad").add(option);
            {% for u in  Uni%}
                var id_zona={{u.zona.id}}

                if(v==id_zona){

                    var op = document.createElement("option");
                    op.value = "{{u.pk}}";
                    op.text = "{{u.Nombre}}";
                    document.getElementById("universidad").appendChild(op);
                }
            {% endfor %}

        }
        function unicam() {
            document.getElementById("campus").innerHTML = "";
            var v=document.getElementById("universidad").value;
            var option = document.createElement("option");
            option.text = "--SELECCIONE--";
            document.getElementById("campus").add(option);
            {% for ca in  Cam %}
                var id_campus={{ca.universidad.id}}

                if(v==id_campus){

                    var op = document.createElement("option");
                    op.value = "{{ca.pk}}";
                    op.text = "{{ca.Nombre}}";
                    document.getElementById("campus").appendChild(op);
                }
            {% endfor %}
			document.getElementById("campus").disabled= false;
        }
    </script>
{% endblock %}
</head>
<body>
{% block content %}
 <form method="post">
        {% csrf_token %}
	   <div class="wow fadeInUp animated" style="background: #009688; height:20%;  padding: 1cm 3cm 1cm 3cm;" >
     <h4 align="center" style="color:white"><span class="glyphicon glyphicon-plus"></span> ACTUALIZAR <span style="color:#FC9C30">FACULTAD</span> </h4>
        <h6> <div style="float:right;">
            <strong style="color:white;font-size:100%">Bienvenido/</strong>
            <strong style="color:white;font-size:100%">{{user.username}}/</strong>
            <strong style="color:white;font-size:100%"><a href="{% url 'logout'%}" style="color:white;"><span class="glyphicon glyphicon-log-out"></span>Cerrar Sesion</a></strong>
        </a>
            </div>
           </h6>
	   </div>
    <br>
      <div class="row">
		<div class="col-md-8 col-md-offset-2">
	<a href="{% url 'Facultad:lista_Facultad' %}" class="btn btn-primary  pull-right"><i class="glyphicon glyphicon-eye-open"></i> Ver Todos</a>
		</div>
		</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Pais</label>
                <select class="form-control" id="pais" onchange="paise()">
                    <option>--Seleccione--</option>
                    {% for p in  Pa %}
                    	<option value="{{ p.pk }}">{{p.Nombre}}</option>

                    {% endfor %}
                </select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Zona</label>
                <select class="form-control" id="zona" onchange="zonas()">
                    <option>--Seleccione--</option>

                </select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Universidad</label>
                <select class="form-control" id="universidad" onchange="unicam()">
                    <option>--Seleccione--</option>

                </select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Campus</label>
				{{form.campus}}
			</div>
		</div>
	</div>
   <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group input-field">
				<label>Nombre de la Facultad </label>
				{{form.Nombre}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group input-field">
				<label >Decano</label>
				{{form.Decano}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
                <button type="submit"   class="btn btn-primary" >Guardar</button>
            </div>
		</div>
	</div>



</form>

{% endblock %}
</body>
</html>