{% extends 'base1/inicio2.html' %}
{% load staticfiles %}
{% block item5 %}
    <a href="{% url 'datosprofe:datosprofe_listar' %}"  class=" w3-bar-item w3-button"><img width="15%" src="{% static 'images/globe.png' %}"> Datos Profesionales</a>
    {% endblock %}
    {% block item2 %}
    <a href="{% url 'partevento:partevento_lis' %}"id="uno" class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/country.png' %}"> Participación en Eventos</a>
    {% endblock %}
{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="wow fadeInUp animated" style="background: #009688; height:20%;  padding: 1cm 3cm 1cm 3cm;" >
     <h2 align="center" style="color:white"><span class="glyphicon glyphicon-plus"></span> NUEVA <span style="color:#FC9C30">PARTICIPACIÓN DE EVENTOS</span> </h2>
        </div>
    <br>
	<div class="container">
		<div class="col-md-8 col-md-offset-2">
	<a href="{% url 'partevento:partevento_lis' %}" class="btn btn-primary  pull-right"><i class="glyphicon glyphicon-eye-open"></i> Ver Todos</a>
		</div>
		</div>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
            {{ form.as_p }}
        </div>
    </div>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<button class="btn btn-primary "type="submit">Guardar</button>
			</div>
		</div>
	</div>
  </form>


{% endblock %}