{% extends 'base1/inicio.html'%}
{% load staticfiles %}
{% block extrastatic %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="static/css/animate.min.css">
{% endblock %}
    {% block home %}
    <a href="{% url 'inicio:logeo' %}"  class=" w3-bar-item w3-button"><img width="15%" src="{% static 'images/home.png' %}"> Home</a>
    {% endblock %}
    {% block item2 %}
    <a href="{% url 'partevento:partevento_lis' %}"id="uno" class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/country.png' %}"> Participación en Eventos</a>
    {% endblock %}
{% block content %}
<div class="wow fadeInUp animated" style="background: #009688; height:20%;  padding: 1cm 3cm 1cm 3cm;" >
     <h4 align="center" style="color:white"><span class="glyphicon glyphicon-th-list"></span> LISTADO DE <span style="color:#FC9C30">PARTICIPACIÓN EN EVENTOS</span> </h4>
        <div style="float:right;">
            <h6><strong style="color:white;font-size:100%">Bienvenido/</strong>
            <strong style="color:white;font-size:100%">{{user.username}}/</strong>
            <strong style="color:white;font-size:100%"><a href="{% url 'logout'%}" style="color:white;"><span class="glyphicon glyphicon-log-out"></span>Cerrar Sesión</a></strong></h6>
        </a>
            </div>
        </div>
    <br>
<div class="container">
<a href="{% url 'partevento:partevento_crear' %}" class="btn btn-primary  pull-right "><i class="glyphicon glyphicon-plus"></i> Nueva Participación</a>
    </div>
<br>
<div class="table-responsive">
<table class="table table-bordered" style="text-align:center; width:100%; ">
 	<thead >
		<tr>
			<td>#</td>
			<td>Título</td>
            <td>Nivel de Autoría</td>
			<td>Palabras Claves</td>
            <td>Resumen</td>
            <td>Documento</td>
			<td>Nombre del Evento</td>
            <td>Nivel</td>
            <td>Lugar del Evento</td>
            <td>Fecha del Evento</td>
            <td>Acciones</td>
		</tr>

	</thead>
	<tbody>
        {% if object_list %}
        {% for participacionevento in object_list %}
        <tr>
            <td>{{participacionevento.id}}</td>
            <td>{{participacionevento.Titulo}}</td>
            <td>{{participacionevento.Nivel_Autoria}}</td>
            <td>{{participacionevento.Palabras_Clave}}</td>
            <td>{{participacionevento.Resumen}}</td>
            <td>
                <li>
                    <a href="{{ participacionevento.Documento.url }}">{{ participacionevento.Documento.name }}</a>
                    <small>(Uploaded at: {{ participacionevento.uploaded_at }})</small>
                </li>
            </td>
            <td>{{participacionevento.Nombre_Evento}}</td>
            <td>{{participacionevento.Nivel}}</td>
            <td>{{participacionevento.Lugar_Evento}}</td>
            <td>{{participacionevento.Fecha_Evento}}</td>
            <td>
                <a class="btn btn-warning" href="{% url 'partevento:partevento_update' participacionevento.id %}" ><span class="glyphicon glyphicon-pencil"></span> Editar</a>
                <a class="btn btn-danger" href="{% url 'partevento:partevento_eliminar' participacionevento.id %}"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>

            </td>
        </tr>
        {% endfor %}

        {% else %}
        <h4>No hay registros de Participación en Eventos</h4>
        {% endif %}

	</tbody>
</table>

</div>
{% endblock%}