{% extends 'base1/inicio.html'%}
{% load staticfiles %}
{% block extrastatic %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="static/css/animate.min.css">
{% endblock %}
    {% block home %}
    <a href="{% url 'inicio:logeo' %}"  class=" w3-bar-item w3-button"><img width="15%" src="{% static 'images/home.png' %}"> Home</a>
    {% endblock %}
    {% block itemPublicaciones %}
    <a href="{% url 'publicaciones:lista_Publicaciones' %}" id="uno" class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/publicaciones.png' %}">Publicaciones</a>
    {% endblock %}

{% block content %}
<div class="wow fadeInUp animated"  style="background: #009688; height:20%;  padding: 1cm 3cm 1cm 3cm;" >
     <h2 align="center" style="color:white"><span class="glyphicon glyphicon-th-list"></span> LISTADO DE <span style="color:#FC9C30">PUBLICACIONES</span> </h2>
<div style="float:right;">
            <strong style="color:white;font-size:100%">Bienvenido/</strong>
            <strong style="color:white;font-size:100%">{{user.username}}/</strong>
            <strong style="color:white;font-size:100%"><a href="{% url 'logout'%}" style="color:white;"><span class="glyphicon glyphicon-log-out"></span>Cerrar Sesion</a></strong>
        </a>
            </div>
</div>
    <br>
<div class="container" style="width:90%;">
    <div class="col-md-8 col-md-offset-2">
<a href="{% url 'publicaciones:create_Publicaciones' %}" class="btn btn-primary  pull-right "><i class="glyphicon glyphicon-plus"></i> Nuevas publicaciones</a>
    </div>
     </div>
<br>
<div align="center" class="row" style="width:90%;">
<div class="table-responsive">
<table class="table table-bordered" style="text-align:center; width:60%; ">
	<thead >
		<tr>
			<td>#</td>
			<td>Titulo</td>
			<td>Nivel Auditoria</td>
			<td>Investigador</td>
            <td>Resumen</td>
            <td>Fecha</td>
            <td>Editorial</td>
            <td>DB Indexada</td>
            <td>URL</td>
            <td>Acciones</td>
		</tr>

	</thead>
	<tbody>
        {% if object_list %}
        {% for publicaciones in object_list %}
        <tr>
            <td>{{publicaciones.id}}</td>
            <td>{{publicaciones.Titulo}}</td>
            <td>{{publicaciones.Nivel_Autoria}}</td>
             <td>{{publicaciones.investigador_id}}</td>
            <td>
             <li>
                    <a href="{{publicaciones.Resumen.url }}">{{ publicaciones.Resumen.name }}</a>
                    <small>(Uploaded at: {{ publicaciones.uploaded_at }})</small>
                </li>
            </td>
            <td>{{publicaciones.Fecha}}</td>
            <td>{{publicaciones.Editorial}}</td>
            <td>{{publicaciones.DB_Indexada}}</td>
            <td>{{publicaciones.Url}}</td>



            <td>
                <a class="btn btn-warning" href="{% url 'publicaciones:update_Publicaciones' publicaciones.id %}" ><span class="glyphicon glyphicon-pencil"></span> Editar</a>
                <a class="btn btn-danger" href="{% url 'publicaciones:delete_Publicaciones'  publicaciones.id %}"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>

            </td>
        </tr>
        {% endfor %}

        {% else %}
        <h1>No hay registros de publicaciones</h1>
        {% endif %}

	</tbody>
</table>
</div>
</div>
{% endblock%}