{% load staticfiles %}
<!DOCTYPE html>
<style>
footer {
    padding: 1em;
    color: white;
    background: #009688;
    clear: left;
    text-align: center;
}

</style>
<html>
	<title>{% block title %}Cienciometrico {% endblock %}</title>
	{% block extrastatic %}
	{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/inputTags.css' %}">

     <script type="text/javascript" src="{% static 'js/inputTags.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

     {% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
<head><script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
       <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
    $(document).ready(function(){
    $('.datepicker').pickadate({
    selectMonths: false, // Creates a dropdown to control month
    selectYears: 15,
    today: 'Today',
    format:'dd/mm/yyyy',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });
  });
    </script>


    <script>
     $(document).ready( function () {
      $(':input[type=text]').on("keypress", function () {
       $input=$(this);
       setTimeout(function () {
        $input.val($input.val().toUpperCase());
       });
      })
     })
    </script>
    <style>
		#uno {
		background-color: #009688 !important;
		}
	</style>

	<body onload="codeLatLng()" >

		{% block navbar %}
		<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px; background:#E7F1F0; " id="mySidebar">
			<button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
             {% block home %}
    <a href="{% url 'inicio:logeo' %}" id="uno" class=" w3-bar-item w3-button"><img width="15%" src="{% static 'images/home.png' %}"> Home</a>
    {% endblock %}
            {% if user.is_authenticated and user.is_staff == True and user.is_superuser == True %}
            {% block rol %}
	<a href="{% url 'roles:crear_rol' %}"  class=" w3-bar-item w3-button"><img width="15%" src="{% static 'images/roles.png' %}"> Rol</a>
	{% endblock %}

            {% block usuario %}
                <a href="{% url 'usuario:registrar' %}" class=" w3-bar-item w3-button"><img width="15%" src="{% static 'images/User.png' %}"> Usuario</a>
            {% endblock %}

            {% block pais %}
			<a href="{% url 'pais:pais_listar' %}" class=" w3-bar-item w3-button"><img width="15%" src="{% static 'images/globe.png' %}"> País</a>
			{% endblock %}
            {% block zona %}
            <a href="{% url 'zona:zona_listar' %}" class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/iconos-zona.png' %}"> Zona</a>
			{% endblock %}
            {% block provincia %}
            <a href="{% url 'provincia:provincia_listar' %}"class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/country.png' %}"> Provincia</a>
			{% endblock %}

            {% block canton %}
            <a href="{% url 'canton:canton_listar' %}" class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/city.png' %}"> Cantón</a>
			{% endblock %}

            {% block universidad %}
            <a href="{% url 'universidad:universidad_listar' %}" class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/university.png' %}"> Universidad</a>
			{% endblock %}
            {% endif %}
            {% for us in usuario%}

            {% if us == 'ver_campus' %}
            {% block campus %}
            <a href="{% url 'campus:campus_listar' %}" class="w3-bar-item w3-button"> <img width="15%" src="{% static 'images/campus.png' %}"> Campus</a>
			{% endblock %}
            {% endif %}
            {% if us == 'ver_facultad' %}
            {% block Facultad %}
            <a href="{% url 'Facultad:lista_Facultad' %}"  class="w3-bar-item w3-button"> <img width="15%" src="{% static 'images/facultad5.png' %}"> Facultad</a>
			{% endblock %}
            {% endif %}
            {% if us == 'ver_carrera' %}
            {% block carrera %}
            <a href="{% url 'carrera:lista_Carrera' %}"  class="w3-bar-item w3-button"> <img width="15%" src="{% static 'images/carrera.png' %}"> Carrera</a>
			{% endblock %}
            {% endif %}
            {% if us == 'ver_evento' %}
            {% block eveto %}
            <a href="{% url 'evento:lista_Evento' %}"  class="w3-bar-item w3-button"> <img width="15%" src="{% static 'images/evento.png' %}">Evento</a>
			{% endblock %}
            {% endif %}
            {% if us == 'ver_datosprofesionales' %}
			{% block item5 %}
    <a href="{% url 'datosprofe:datosprofe_listar' %}"  class=" w3-bar-item w3-button"><img width="15%" src="{% static 'images/globe.png' %}"> Datos Profesionales</a>
    {% endblock %}
            {% endif %}
            {% if us == 'ver_investigaciones' %}
    {% block item %}
    <a href="{% url 'investigacion:investigaciones_lis' %}" class=" w3-bar-item w3-button"><img width="15%" src="{% static 'images/globe.png' %}"> Investigaciones</a>
    {% endblock %}
            {% endif %}
            {% if us == 'ver_otrasinvestigaciones' %}
    {% block item1 %}
    <a href="{% url 'otrainvestigacion:otrasinvestigaciones_lis' %}" class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/iconos-zona.png' %}"> Otras Investigaciones</a>
    {% endblock %}
            {% endif %}
            {% if us == 'ver_ParticipacionesEventos' %}
    {% block item2 %}
    <a href="{% url 'partevento:partevento_lis' %}"class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/country.png' %}"> Participación en Eventos</a>
    {% endblock %}
            {% endif %}
            {% if us == 'ver_articulo' %}
    {% block itemArti %}
    <a href="{% url 'articulosCientificos:ListaArticulo' %}" class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/articuloCient.png' %}">Artículos Científicos</a>
    {% endblock %}
            {% endif %}
            {% if us == 'ver_formacionAcademica' %}
    {% block itemForAcad %}
    <a href="{% url 'FormacionAcademica:lista_Formacion_Academica' %}" class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/FormaAcad.png' %}">Formación Académica</a>
    {% endblock %}
            {% endif %}
            {% if us == 'ver_FormacionComplementaria' %}
     {% block itemForCompl %}
    <a href="{% url 'FormacionComplementaria:lista_Formacion_Complementaria' %}" class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/FormaComp.png' %}">Formación Complementaria</a>
    {% endblock %}
            {% endif %}
            {% if us == 'ver_Proyectos' %}
     {% block itemProyecto %}
    <a href="{% url 'proyecto:proyectos_lis' %}" class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/project.png' %}">Proyectos</a>
    {% endblock %}
            {% endif %}
            {% if us == 'ver_libro' %}
            {% block itemLibro %}
    <a href="{% url 'Libro:libro_lis' %}" class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/libro.png' %}">Libros</a>
    {% endblock %}
            {% endif %}
            {% if us == 'ver_Revista' %}
            {% block itemRevista %}
    <a href="{% url 'Revista:lista_Revista' %}" class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/revista.png' %}">Revista</a>
    {% endblock %}
            {% endif %}
            {% if us == 'ver_Publicaciones' %}
             {% block itemPublicaciones %}
    <a href="{% url 'publicaciones:lista_Publicaciones' %}" class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/publicaciones.png' %}">Publicaciones</a>
    {% endblock %}
    {% endif %}
            {% endfor %}

		</div>
		<div class="w3-main" style="margin-left:200px; ">
			<div class="w3-teal"  >
				<button class="w3-button w3-teal w3-xlarge w3-hide-large"  onclick="w3_open()">&#9776;</button>
			</div>
			{% endblock %}
			{% block content %}
            <div class="wow fadeInUp animated" style="background: #009688; height:20%;  padding: 1cm 3cm 1cm 3cm;" >
        <div style="float:right;">
            <strong style="color:white;font-size:100%">Bienvenido/</strong>
            <strong style="color:white;font-size:100%">{{user.username}}/</strong>
            <strong style="color:white;font-size:100%"><a href="{% url 'logout'%}" style="color:white;"><span class="glyphicon glyphicon-log-out"></span>Cerrar Sesion</a></strong>
        </a>
            </div>
    </div>

			<div class="w3-container">
				 <div align="middle" style="margin:17% auto;"><img  src="{% static 'images/logo.png' %}" alt="" ></div>
			</div>
            {{usuario}}
            <footer>Copyright 2018 &copy; </footer>
		</div>
		{% endblock %}
		<script>
			function w3_open() {
			    document.getElementById("mySidebar").style.display = "block";
			}
			function w3_close() {
			    document.getElementById("mySidebar").style.display = "none";
			}
		</script>

     <style>
         #uno {
    background-color: #009688 !important;
    }
    </style>


	</body>
</html>