{% extends 'base1/inicio2.html'%}
{% load staticfiles %}
{% block item5 %}
    <a href="{% url 'datosprofe:datosprofe_listar' %}"  class=" w3-bar-item w3-button"><img width="15%" src="{% static 'images/globe.png' %}"> Datos Profesionales</a>
    {% endblock %}
    {% block item %}
    <a href="{% url 'investigacion:investigaciones_lis' %}" id="uno" class=" w3-bar-item w3-button"><img width="15%" src="{% static 'images/globe.png' %}"> Investigaciones</a>
    {% endblock %}
{% block content %}
<div class="wow fadeInUp animated" style="background: #009688; height:20%;  padding: 1cm 3cm 1cm 3cm;" >
     <h2 align="center" style="color:white"><span class="glyphicon glyphicon-th-list"></span> LISTADO DE <span style="color:#FC9C30">INVESTIGACIONES</span> </h2>
        </div>
    <br>
<div class="container">
<a href="{% url 'investigacion:investigaciones_crear' %}" class="btn btn-primary  pull-right "><i class="glyphicon glyphicon-plus"></i> Nueva Investigación</a>
    </div>
<br>
<div class="container" align="center">
<table class="table table-bordered" style="text-align:center; ">
	<thead >
		<tr>
			<td>#</td>
			<td>Título</td>
			<td>Palabras Claves</td>
            <td>Resumen</td>
			<td>Fecha</td>
            <td>Editor</td>
            <td>Link</td>
            <td>Acciones</td>
		</tr>

	</thead>
	<tbody>
        {% if object_list %}
        {% for investigacion in object_list %}
        <tr>
            <td>{{investigacion.id}}</td>
            <td>{{investigacion.Titulo}}</td>
            <td>{{investigacion.Palabras_Claves}}</td>
            <td>
                <li>
                    <a href="{{ investigacion.Resumen.url }}">{{ investigacion.Resumen.name }}</a>
                    <small>(Uploaded at: {{ investigacion.uploaded_at }})</small>
                </li>
            </td>
            <td>{{investigacion.Fecha}}</td>
            <td>{{investigacion.Editor}}</td>
            <td>{{investigacion.Url}}</td>
            <td>
                <a class="btn btn-warning" href="{% url 'investigacion:investigaciones_update' investigacion.id %}" ><span class="glyphicon glyphicon-pencil"></span> Editar</a>
                <a class="btn btn-danger" href="{% url 'investigacion:investigaciones_eliminar' investigacion.id %}"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>

            </td>
        </tr>
        {% endfor %}

        {% else %}
        <h1>No hay registros de Investigaciones</h1>
        {% endif %}

	</tbody>
</table>

</div>
{% endblock%}