{% extends 'base1/inicio.html' %}
{% load staticfiles %}
{% block extrastatic %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="static/css/animate.min.css">
{% endblock %}
{% block home %}
    <a href="{% url 'inicio:logeo' %}"  class=" w3-bar-item w3-button"><img width="15%" src="{% static 'images/home.png' %}"> Home</a>
    {% endblock %}
{% block campus %}
            <a href="{% url 'campus:campus_listar' %}" id="uno" class="w3-bar-item w3-button"> <img width="15%" src="{% static 'images/campus.png' %}"> Campus</a>
			{% endblock %}
{% block content %}

<div class="wow fadeInUp animated" style="background: #009688; height:20%;  padding: 1cm 3cm 1cm 3cm;" >
     <h4 align="center" style="color:white"><span class="glyphicon glyphicon-th-list"></span> LISTADO DE <span style="color:#FC9C30">CAMPUS</span> </h4>
 <h6> <div style="float:right;">
            <strong style="color:white;font-size:100%">Bienvenido/</strong>
            <strong style="color:white;font-size:100%">{{user.username}}/</strong>
            <strong style="color:white;font-size:100%"><a href="{% url 'logout'%}" style="color:white;"><span class="glyphicon glyphicon-log-out"></span>Cerrar Sesión</a></strong>
        </a>
            </div>
           </h6>
</div>
    <br>
<div class="container">
<a href="{% url 'campus:campus_crear' %}" class="btn btn-primary  pull-right "><i class="glyphicon glyphicon-plus"></i> Nuevo Campus</a>
    </div>
<br>
<div class="container" align="center">
<table class="table table-bordered" style="text-align:center;" >

	<thead>
		<tr>
			<td>#</td>
			<td>Nombre</td>
            <td>Provincia</td>
			<td>Universidad</td>
            <td>Acciones</td>
		</tr>
		
	</thead>
	<tbody>
        {% if object_list %}
        {% for campus in object_list %}
        <tr>
            <td>{{campus.id}}</td>
            <td>{{campus.Nombre}}</td>
            <td>{{campus.provincia.Nombre}}</td>
            <td>{{campus.universidad.Nombre }}</td>
            <td>
                 <a class="btn btn-warning" href="{% url 'campus:campus_update' campus.id %}"><span class="glyphicon glyphicon-pencil"></span> Editar</a>
                <a class="btn btn-danger" href="{% url 'campus:campus_delete' campus.id %}"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
            </td>
        </tr>
        {% endfor %}

        {% else %}
        <h4>No hay registros de Campus</h4>
        {% endif %}

	</tbody>
</table>
    </div>
<ul class="pager">
    <li>
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
    </li>
    <li>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </li>
</ul>

{% endblock%}