{% extends 'base1/inicio.html' %}
{% load staticfiles %}
{% block extrastatic %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="static/css/animate.min.css">
<script>
        function zonapais() {
            document.getElementById("zona").innerHTML = "";
            var v=document.getElementById("pais").value;
            var option = document.createElement("option");
            option.text = "--SELECCIONE--";
            document.getElementById("zona").add(option);
            {% for z in  Zona%}
                var id_pais={{z.pais.id}}

                if(v==id_pais){

                    var op = document.createElement("option");
                    op.value = "{{z.pk}}";
                    op.text = "{{z.Nombre}}";
                    document.getElementById("zona").appendChild(op);
                }
            {% endfor %}

        }

    </script>
    <script>
         function zonaprovincia() {
            document.getElementById("prov").innerHTML = "";
            var pz=document.getElementById("zona").value;

            var opt = document.createElement("option");
            opt.text = "--SELECCIONE--";
            document.getElementById("prov").add(opt);
            {% for pro in  Provincia %}
                var id_zona={{pro.zona.id}}
                if(pz==id_zona){

                    var opti = document.createElement("option");
                    opti.value = "{{pro.pk}}";
                    opti.text = "{{pro.Nombre}}";
                    document.getElementById("prov").appendChild(opti);
                }
            {% endfor %}

        }
    </script>
{% endblock %}
{% block navbar %}
<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px; background:#E7F1F0; " id="mySidebar">
  <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
    <a href="{% url 'pais:pais_listar' %}"  class=" w3-bar-item w3-button"><img width="15%" src="{% static 'images/globe.png' %}"> País</a>
    <a href="{% url 'zona:zona_listar' %}" class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/iconos-zona.png' %}"> Zona</a>
    <a href="{% url 'provincia:provincia_listar' %}"class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/country.png' %}"> Provincia</a>
    <a href="{% url 'canton:canton_listar' %}" class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/city.png' %}"> Cantón</a>
    <a href="{% url 'universidad:universidad_listar' %}"  class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/university.png' %}"> Universidad</a>
    <a href="{% url 'campus:campus_listar' %}" id="uno" class="w3-bar-item w3-button"> <img width="15%" src="{% static 'images/campus.png' %}"> Campus</a>
    <a href="{% url 'Facultad:lista_Facultad' %}"  class="w3-bar-item w3-button"> <img width="15%" src="{% static 'images/facultad5.png' %}"> Facultad</a>
    <a href="{% url 'carrera:lista_Carrera' %}"  class="w3-bar-item w3-button"> <img width="15%" src="{% static 'images/carrera.png' %}"> Carrera</a>
</div>

<div class="w3-main" style="margin-left:200px; ">
<div class="w3-teal"  >
  <button class="w3-button w3-teal w3-xlarge w3-hide-large"  onclick="w3_open()">&#9776;</button>

</div>
{% endblock %}
{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="wow fadeInUp animated" style="background: #009688; height:20%;  padding: 1cm 3cm 1cm 3cm;" >
     <h2 align="center" style="color:white"><span class="glyphicon glyphicon-plus"></span> ACTUALIZAR <span style="color:#FC9C30">CAMPUS</span> </h2>
        </div>
    <br>
    <div class="container">
		<div class="col-md-9 col-md-offset-2">
	<a href="{% url 'campus:campus_listar' %}" class="btn btn-primary  pull-right"><i class="glyphicon glyphicon-eye-open"></i> Ver Todos</a>
		</div>
		</div>
	 <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
                <label>País</label>
                <select class="form-control" id="pais" onchange="zonapais()">
                    <option>--Seleccione</option>
                    {% for p in  Pais%}
                    <option value="{{ p.pk }}">{{p.Nombre}}</option>

                    {% endfor %}
                </select>
                </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
                <label>Zona</label>
                <select class="form-control" id="zona" onchange="zonaprovincia()">
                    <option>--Seleccione--</option>

                </select>
            </div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
                <label>Provincia</label>
                {{form.provincia}}
            </div>
		</div>
	</div>
  	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label for="{{form.universidad.Nombre}}">{{form.universidad.label}}</label>
                {{form.universidad}}
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Nombre</label>
				{{form.Nombre}}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<button class="btn btn-primary "type="submit">Guardar</button>
			</div>
		</div>
	</div>

</form>
{% endblock %}