{% extends 'base1/inicio.html'%}
{% load staticfiles %}
{% block extrastatic %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="static/css/animate.min.css">
{% endblock %}
{% block content %}
<br><br>

  <form method="post" >
      {% csrf_token %}
 <div class="wow fadeInUp animated" style="background: #AFB5B9; height:20%;  padding: 1cm 3cm 1cm 3cm;" >
     <h2 align="center" style="color:white"><span class="glyphicon glyphicon-plus"></span> NUEVO <span style="color:#FC9C30">ARTÍCULO CIENTÍFICO</span> </h2>
        </div>
    <br>
      <div class="row">
		<div class="col-md-9 col-md-offset-2">
	<a href="{% url 'articulosCientificos:ListaArticulo' %}" class="btn btn-primary  pull-right"><i class="glyphicon glyphicon-eye-open"></i> Ver Todos</a>
		</div>
		</div>
     <ul>


               <div class="row">
                   <div class="col-md-9 col-md-offset-2">
                  <label >Nombre:</label>
                 <input type="text" name="Nombre" class="form-control" value="{{articulos_cientificos.Nombre}}">
               </div>
 </div>
                <div class="row">
                    <div class="col-md-9 col-md-offset-2">
                 <label >Numero:</label>
                    <input type="number" name="Numero" class="form-control" value="{{articulos_cientificos.Numero}}">
               </div> </div>

         <div class="row">
             <div class="col-md-9 col-md-offset-2">
                       <label >Estado:</label>
                        <input type="text" name="Estado" class="form-control" value="{{articulos_cientificos.Estado}}">
                     </div> </div>
              <div class="row">
                  <div class="col-md-9 col-md-offset-2">
                  <label >Año:</label>
                 <input type="text" name="Anio" class="form-control" value="{{articulos_cientificos.Anio}}">
              </div> </div>
             <div class="row">
                 <div class="col-md-9 col-md-offset-2">
                  <label >  ISSN:</label>
                  <input type="number" name="ISSN" class="form-control" value="{{ articulos_cientificos.ISSN }}">
                     </div></div>

             <div class="row">
                 <div class="col-md-9 col-md-offset-2">
                              <label >Base Datos:</label>
                  <input type="text" name="Base_Datos" class="form-control" value="{{ articulos_cientificos.Base_Datos }}">
                           </div></div>
             <div class="row">
                 <div class="col-md-9 col-md-offset-2">
                              <label >URL</label>
                             <input type="url" name="Url" class="form-control" value="{{ articulos_cientificos.Url }}">
                           </div></div>
               <div class="row">
                    <div class="col-md-9 col-md-offset-2">
                              <label >Fecha Publicacion</label>
                                {{form.Fecha_Publicacion}}
                    </div>
               </div>

            <div class="row">
                 <div class="col-md-9 col-md-offset-2">
                  <label >Investigador</label>
                     {{form.investigador}}
                 </div></div>




         <br>
<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<button class="btn btn-primary "type="submit">Guardar</button>
			</div>
		</div>
    </div>
     </ul>

  </form>

{% endblock %}