{% extends 'base1/inicio.html' %}
{% load staticfiles %}
{% block home %}
    <a href="{% url 'inicio:logeo' %}"  class=" w3-bar-item w3-button"><img width="15%" src="{% static 'images/home.png' %}"> Home</a>
    {% endblock %}
    {% block item5 %}
    <a href="{% url 'datosprofe:datosprofe_listar' %}" id="uno" class=" w3-bar-item w3-button"><img width="15%" src="{% static 'images/globe.png' %}"> Datos Profesionales</a>
    {% endblock %}
{% block content %}
<br>
<form method="post">
    {% csrf_token %}
    <h4>¿Desea eliminar el registro de {{object.Nombre_Profecion}}?</h4>
    <button class="btn btn-danger" type="submit">Si, eliminar</button>
    <a class="btn btn-default" href="{% url 'datosprofe:datosprofe_listar' %}">Cancelar</a>
</form>
{% endblock %}