{% extends 'base1/inicio2.html' %}
{% load staticfiles %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="wow fadeInUp animated" style="background: #009688; height:20%;  padding: 1cm 3cm 1cm 3cm;" >
     <h2 align="center" style="color:white"><span class="glyphicon glyphicon-plus"></span> NUEVO <span style="color:#FC9C30">DATO PROFESIONAL</span> </h2>
        </div>
    <br>
	<div class="container">
		<div class="col-md-9 col-md-offset-2">
	<a href="{% url 'datosprofe:datosprofe_listar' %}" class="btn btn-primary  pull-right"><i class="glyphicon glyphicon-eye-open"></i> Ver Todos</a>
		</div>
		</div>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Nombre de Profeción</label>
				{{form.Nombre_Profecion}}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Grado Científico</label>
				{{form.Grado_Cientifico}}
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Categoría</label>
				{{form.Categoria}}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<button class="btn btn-primary "type="submit">Guardar</button>
			</div>
		</div>
	</div>

</form>
{% endblock %}