{% extends 'base1/inicio2.html'%}
{% load staticfiles %}
   {% block item5 %}
    <a href="{% url 'datosprofe:datosprofe_listar' %}"  class=" w3-bar-item w3-button"><img width="15%" src="{% static 'images/globe.png' %}"> Datos Profesionales</a>
    {% endblock %}
    {% block item %}
    <a href="{% url 'investigacion:investigaciones_lis' %}" class=" w3-bar-item w3-button"><img width="15%" src="{% static 'images/globe.png' %}"> Investigaciones</a>
    {% endblock %}
    {% block itemArti %}
    <a href="{% url 'articulosCientificos:ListaArticulo' %}" class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/articuloCient.png' %}">Artículos Científicos</a>
    {% endblock %}
    {% block itemForAcad %}
    <a href="{% url 'FormacionAcademica:lista_Formacion_Academica' %}" id="uno" class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/FormaAcad.png' %}">Formación Académica</a>
    {% endblock %}

<body>
{% block content %}
<div class="wow fadeInUp animated" style="background: #009688; height:20%;  padding: 1cm 3cm 1cm 3cm;" >
     <h2 align="center" style="color:white"><span class="glyphicon glyphicon-plus"></span> NUEVA <span style="color:#FC9C30">FORMACIÓN ACADÉMICA</span> </h2>
        </div>
 <form method="post">
        {% csrf_token %}

    <br>
      <div class="row">
		<div class="col-md-8 col-md-offset-2">
	<a href="{% url 'FormacionAcademica:lista_Formacion_Academica' %}" class="btn btn-primary  pull-right"><i class="glyphicon glyphicon-eye-open"></i> Ver Todos</a>
		</div>
		</div>
   <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Titulo Adquirido </label>
				<input class="form-control" type="text" name="Nivel_Estudios">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Fecha Finalizacion</label>
				<input class="form-control" type="date" name="Fecha_Fin_Estudios">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Centro donde se cursó</label>
				<input class="form-control" type="text" name="Nombre_Centro_Estudios">
			</div>
		</div>
	</div>
       <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Investigador</label>
				{{form.investigador}}
			</div>
		</div>
	</div>

        <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
                <button type="submit"   class="btn btn-primary" >Guardar</button>
            </div>
		</div>
        </div>
	</div>


</form>

{% endblock %}
</body>
</html>