{% extends 'base1/inicio.html'%}
{% load staticfiles %}
{% load material_form %}
{% load widget_tweaks %}
{% block extrastatic %}

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="static/css/animate.min.css">
{% endblock %}
    {% block home %}
    <a href="{% url 'inicio:logeo' %}"  class=" w3-bar-item w3-button"><img width="15%" src="{% static 'images/home.png' %}"> Home</a>
    {% endblock %}
    {% block itemForAcad %}
    <a href="{% url 'FormacionAcademica:lista_Formacion_Academica' %}" id="uno" class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/FormaAcad.png' %}">Formación Académica</a>
    {% endblock %}

<body>
{% block content %}
<div class="wow fadeInUp animated" style="background: #009688; height:20%;  padding: 1cm 3cm 1cm 3cm;" >
     <h4 align="center" style="color:white"><span class="glyphicon glyphicon-plus"></span> NUEVA <span style="color:#FC9C30">FORMACIÓN ACADÉMICA</span> </h4>
        <h6><div style="float:right;">
            <strong style="color:white;font-size:100%">Bienvenido/</strong>
            <strong style="color:white;font-size:100%">{{user.username}}/</strong>
            <strong style="color:white;font-size:100%"><a href="{% url 'logout'%}" style="color:white;"><span class="glyphicon glyphicon-log-out"></span>Cerrar Sesión</a></strong>
        </a>
            </div></h6>
        </div>
 <form method="post">
        {% csrf_token %}

    <br>
      <div class="row">
		<div class="col-md-8 col-md-offset-2">
	<a href="{% url 'FormacionAcademica:lista_Formacion_Academica' %}" class="btn btn-primary  pull-right"><i class="glyphicon glyphicon-eye-open"></i> Ver Todos</a>
		</div>
		</div>
   <div class="content">
		<div class="col-md-8 col-md-offset-2">
				<label>Tipo de Titulación </label>
				<select name="Nivel_Estudios" class="browser-default" >
					 <option value="" >---------------------Seleccione--------------------</option>
					 <option value="LIC." >LICENCIATURA</option>
					 <option value="ING." >INGENIERÍA</option>


                    </select>

		</div>
	</div>
	  <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group input-field">
				<label>Nombre de Título Adquirido </label>
				<input class="form-control" type="text" name="NombreTitulo">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group input-field">
				<label >Fecha de Finalización</label>
				<input class="datepicker" type="date" name="Fecha_Fin_Estudios">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group input-field">
				<label >Centro donde se cursó</label>
				<input class="form-control" type="text" name="Nombre_Centro_Estudios">
			</div>
		</div>
	</div>


        <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
                <button type="submit"   class="btn btn-primary" >Guardar</button>
            </div>
		</div>
        </div>
	</div>


</form>

{% endblock %}
</body>
</html>