{% extends 'base1/inicio.html'%}
{% load staticfiles %}
{% block extrastatic %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="static/css/animate.min.css">
{% endblock %}
    {% block home %}
    <a href="{% url 'inicio:logeo' %}"  class=" w3-bar-item w3-button"><img width="15%" src="{% static 'images/home.png' %}"> Home</a>
    {% endblock %}
    {% block itemForAcad %}
    <a href="{% url 'FormacionAcademica:lista_Formacion_Academica' %}" id="uno" class="w3-bar-item w3-button"><img width="15%" src="{% static 'images/FormaAcad.png' %}">Formación Académica</a>
    {% endblock %}
{% block content %}
<div class="wow fadeInUp animated" style="background: #009688; height:20%;  padding: 1cm 3cm 1cm 3cm;" >
     <h4 align="center" style="color:white"><span class="glyphicon glyphicon-th-list"></span> LISTADO DE <span style="color:#FC9C30">FORMACIÓN ACADÉMICA</span> </h4>
        <h6><div style="float:right;">
            <strong style="color:white;font-size:100%">Bienvenido/</strong>
            <strong style="color:white;font-size:100%">{{user.username}}/</strong>
            <strong style="color:white;font-size:100%"><a href="{% url 'logout'%}" style="color:white;"><span class="glyphicon glyphicon-log-out"></span>Cerrar Sesion</a></strong>
        </a>
            </div></h6>
        </div>
    <br>
<div class="container" style="width:90%;">
    <div class="col-md-8 col-md-offset-2">
<a href="{% url 'FormacionAcademica:create_Formacion_Academica' %}" class="btn btn-primary  pull-right "><i class="glyphicon glyphicon-plus"></i> Nueva Formación Académica</a>
    </div></div>
<br>
<div align="center" class="row" style="">
<div class="table-responsive">
<table class="table table-bordered" style="text-align:center; width:90%; ">
	<thead>
		<tr>
			<td>#</td>
            <td>Tipo de Titulación</td>
			<td>Nombre de Título Adquirido</td>
			<td>Fecha Finalización</td>
			<td>Centro donde culmino sus Estudios </td>
            <td>Acciones</td>
		</tr>

	</thead>
	<tbody>
        {% if object_list %}
        {% for formacion_academica in object_list %}
        <tr>
            <td>{{formacion_academica.id}}</td>
            <td>{{formacion_academica.Nivel_Estudios}}</td>
            <td>{{formacion_academica.NombreTitulo}}</td>
            <td>{{formacion_academica.Fecha_Fin_Estudios}}</td>
            <td>{{formacion_academica.Nombre_Centro_Estudios}}</td>

            <td>
                <a class="btn btn-warning" href="{% url 'FormacionAcademica:update_Formacion_Academica' formacion_academica.id %}" ><span class="glyphicon glyphicon-pencil"></span>Editar</a>
                <a class="btn btn-danger" href="{% url 'FormacionAcademica:delete_Formacion_Academica'  formacion_academica.id %}"><span class="glyphicon glyphicon-trash"></span>Eliminar</a>

            </td>
        </tr>
        {% endfor %}

        {% else %}
        <h4>No hay registros de Formación Académica</h4>
        {% endif %}

	</tbody>
</table>
</div>
</div>
{% endblock%}